src/main/webapp/wsdl/IfService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.ifservice.eiffelcorp.fr.gustaveeiffel.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.ifservice.eiffelcorp.fr.gustaveeiffel.org" xmlns:intf="http://server.ifservice.eiffelcorp.fr.gustaveeiffel.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.ifservice.eiffelcorp.fr.gustaveeiffel.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProducts">
    <complexType/>
   </element>
   <element name="getProductsResponse">
    <complexType>
     <sequence>
      <element name="getProductsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProductFromCart">
    <complexType>
     <sequence>
      <element name="productId" type="xsd:int"/>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProductFromCartResponse">
    <complexType>
     <sequence>
      <element name="deleteProductFromCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerFullname">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerFullnameResponse">
    <complexType>
     <sequence>
      <element name="getCustomerFullnameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerInfo">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerInfoResponse">
    <complexType>
     <sequence>
      <element name="getCustomerInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCart">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCartResponse">
    <complexType>
     <sequence>
      <element name="getCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductToCart">
    <complexType>
     <sequence>
      <element name="productId" type="xsd:int"/>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductToCartResponse">
    <complexType>
     <sequence>
      <element name="addProductToCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="payCart">
    <complexType>
     <sequence>
      <element name="customerId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="payCartResponse">
    <complexType>
     <sequence>
      <element name="payCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProductsRequest">

      <wsdl:part element="impl:getProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductToCartResponse">

      <wsdl:part element="impl:addProductToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCartResponse">

      <wsdl:part element="impl:getCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payCartResponse">

      <wsdl:part element="impl:payCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductsResponse">

      <wsdl:part element="impl:getProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductFromCartRequest">

      <wsdl:part element="impl:deleteProductFromCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerInfoRequest">

      <wsdl:part element="impl:getCustomerInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerInfoResponse">

      <wsdl:part element="impl:getCustomerInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductToCartRequest">

      <wsdl:part element="impl:addProductToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCartRequest">

      <wsdl:part element="impl:getCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerFullnameResponse">

      <wsdl:part element="impl:getCustomerFullnameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerFullnameRequest">

      <wsdl:part element="impl:getCustomerFullname" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductFromCartResponse">

      <wsdl:part element="impl:deleteProductFromCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payCartRequest">

      <wsdl:part element="impl:payCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="IfService">

      <wsdl:operation name="getProducts">

         <wsdl:input message="impl:getProductsRequest" name="getProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductsResponse" name="getProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProductFromCart">

         <wsdl:input message="impl:deleteProductFromCartRequest" name="deleteProductFromCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteProductFromCartResponse" name="deleteProductFromCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerFullname">

         <wsdl:input message="impl:getCustomerFullnameRequest" name="getCustomerFullnameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerFullnameResponse" name="getCustomerFullnameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerInfo">

         <wsdl:input message="impl:getCustomerInfoRequest" name="getCustomerInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerInfoResponse" name="getCustomerInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCart">

         <wsdl:input message="impl:getCartRequest" name="getCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCartResponse" name="getCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProductToCart">

         <wsdl:input message="impl:addProductToCartRequest" name="addProductToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductToCartResponse" name="addProductToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payCart">

         <wsdl:input message="impl:payCartRequest" name="payCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:payCartResponse" name="payCartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IfServiceSoapBinding" type="impl:IfService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProductFromCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteProductFromCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteProductFromCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerFullname">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerFullnameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerFullnameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProductToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IfServiceService">

      <wsdl:port binding="impl:IfServiceSoapBinding" name="IfService">

         <wsdlsoap:address location="http://localhost:8080/EiffelCorp/services/IfService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
